<form [formGroup]="formProduct" (ngSubmit)="onSubmit()" class="mt-5">
    <!-- <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Descripcion</label>
        <div class="col-sm-10">
            <input formControlName="description" type="text" class="form-control">
        </div>
    </div> -->

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Telefono Usuario</label>
        <div class="col-sm-10">
            <input formControlName="telefono_usuario" type="number" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Direccion</label>
        <div class="col-sm-10">
            <input formControlName="direccion" type="text" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Barrio</label>
        <div class="col-sm-10">
            <input formControlName="barrio" type="text" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Observacion</label>
        <div class="col-sm-10">
            <input formControlName="observacion" type="textarea" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Movil</label>
        <div class="col-sm-10">
            <input formControlName="movil_taxi" type="text" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Placa</label>
        <div class="col-sm-10">
            <input formControlName="placa_taxi" type="text" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">llego</label>
        <div class="col-sm-10">
            <input formControlName="llego" type="text" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Recepcionado</label>
        <div class="col-sm-10">
            <input formControlName="recepcionado" type="date" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Asignado</label>
        <div class="col-sm-10">
            <input formControlName="asignado" type="datetime-local" class="form-control">
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Recogido</label>
        <div class="col-sm-10">
            <input formControlName="recogido" type="datetime-local" class="form-control">
        </div>
    </div>

    <div class="btn-group float-end" role="group" >
        <button [disabled]="!formProduct.valid" type="submit" class="btn btn-primary"> Enviar</button>
        <a routerLink="/" class="btn btn-outline-secondary">Cancelar</a>
    </div>


</form>